.Container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.userDivContainer {
  background-color: lightblue;
  padding: 10px;
  border-radius: 4px;
}

.userForm {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.inputvalue {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.forgetPass {
  border: none;
  color: rgb(134, 134, 247);
  margin-top: 6px;
}

.forgetPassSpan {
  margin: 0 2px 8px 2px;
}

.SubmitBtn {
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signupLoginBtn {
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  margin-top: 12px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
}

.SubmitBtn:hover {
  background-color: #45a049;
}
